@using System.Web.Optimization;
@model Claro.SIACU.Web.WebApplication.Transac.Service.Areas.Transactions.Models.HFC.MigrationModel
@{

}
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div id="modal-content">
    <div id="SelectServicesByPlan">
        <div class="panel panel-group claro-panel-primary">
            <div class="panel-heading" role="tab">
                    Cable
                </div>
                <table id="tblChooseServicesByPlanCable" class="table table-hover claro-modal-tabla table-bordered">
                            <thead>
                                <tr class="transac-table-header">
                                    <th class="col-md-1"></th>
                                    <th class="col-md-9">Nombre del Servicio</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="col-md-2" data-toggle="tooltip" title="(S/.)">Cargo Fijo(S/ inc. IGV)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ServicesByPlan != null && Model.ConfigurationData.intOneCoreCable > 0)
                                {
                                   // var myClause = Model.ConfigurationData.cables;//new string[] { "3", "4", "5" };
                                    var myClause = new string[] { "3", "4", "5" };
                                    //var serviceTypes = new string[]{"1","2"};
                                    var serviceTypes = new string[] {"3"};
                                    foreach (var item in Model.ServicesByPlan)
                                    {
                                        if (myClause.Contains(item.CodGroupServ) & serviceTypes.Contains(item.CodServiceType) & !Model.SelectedServices.Contains(item.CodServSisact))
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@item.DesServSisact</td>
                                                <td>@item.CF </td>
                                                <td>@item.CodServSisact</td>
                                                <td>@item.ServiceType</td>
                                                <td>@item.Sncode</td>
                                                <td>@item.CodGroupServ</td>
                                                <td>@item.Codtipequ</td>
                                                <td>@item.Tipequ</td>
                                                <td>@item.Spcode</td>
                                                <td>@item.CantEquipment</td>
                                                <td>@item.Equipment</td>
                                                <td>@item.Tmcode</td>
                                                <td>@item.CodPlanSisact</td>
                                                <td>@item.IDEquipment</td>
                                                <td>@item.GroupServ</td>
                                                <td>@item.CfWithIgv</td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                <div class="panel-heading" role="tab">
                    Internet
                </div>
                <table id="tblChooseServicesByPlanInternet" class="table table-hover claro-modal-tabla table-bordered">
                    <thead>
                        <tr class="transac-table-header">
                            <th class="col-md-1"></th>
                            <th class="col-md-9">Nombre del Servicio</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="col-md-2" data-toggle="tooltip" title="(S/.)">Cargo Fijo(S/ inc. IGV)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServicesByPlan != null && Model.ConfigurationData.intOneCoreInternet > 0)
                        {
                            var myClause = Model.ConfigurationData.internets;//new string[] { "2", "7" };
                            var serviceTypes = new string[] { "1", "2" };

                            foreach (var item in Model.ServicesByPlan)
                            {
                                if (myClause.Contains(item.CodGroupServ) & !serviceTypes.Contains(item.CodServiceType) & !Model.SelectedServices.Contains(item.CodServSisact))
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.DesServSisact</td>
                                        <td>@item.CF </td>
                                        <td>@item.CodServSisact</td>
                                        <td>@item.ServiceType</td>
                                        <td>@item.Sncode</td>
                                        <td>@item.CodGroupServ</td>
                                        <td>@item.Codtipequ</td>
                                        <td>@item.Tipequ</td>
                                        <td>@item.Spcode</td>
                                        <td>@item.CantEquipment</td>
                                        <td>@item.Equipment</td>
                                        <td>@item.Tmcode</td>
                                        <td>@item.CodPlanSisact</td>
                                        <td>@item.IDEquipment</td>
                                        <td>@item.GroupServ</td>
                                        <td>@item.CfWithIgv</td>
                                    </tr>

                                }
                            }

                        }


                    </tbody>
                </table>
                <div class="panel-heading" role="tab">
                    Telefonía
                </div>
                <table id="tblChooseServicesByPlanPhone" class="table table-hover claro-modal-tabla table-bordered">
                    <thead>
                        <tr class="transac-table-header">
                            <th class="col-md-1"></th>
                            <th class="col-md-9">Nombre del Servicio</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="col-md-2" data-toggle="tooltip" title="(S/.)">Cargo Fijo(S/ inc. IGV)</th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (Model.ServicesByPlan != null && Model.ConfigurationData.intOneCorePhone > 0)
                        {
                            var myClause = Model.ConfigurationData.telephonys;//new string[] { "1", "6" };
                            var serviceTypes = new string[] { "1", "2" };

                            foreach (var item in Model.ServicesByPlan)
                            {
                                if (myClause.Contains(item.CodGroupServ) & !serviceTypes.Contains(item.CodServiceType) & !Model.SelectedServices.Contains(item.CodServSisact))
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.DesServSisact</td>
                                        <td>@item.CF </td>
                                        <td>@item.CodServSisact</td>
                                        <td>@item.ServiceType</td>
                                        <td>@item.Sncode</td>
                                        <td>@item.CodGroupServ</td>
                                        <td>@item.Codtipequ</td>
                                        <td>@item.Tipequ</td>
                                        <td>@item.Spcode</td>
                                        <td>@item.CantEquipment</td>
                                        <td>@item.Equipment</td>
                                        <td>@item.Tmcode</td>
                                        <td>@item.CodPlanSisact</td>
                                        <td>@item.IDEquipment</td>
                                        <td>@item.GroupServ</td>
                                        <td>@item.CfWithIgv</td>
                                    </tr> 
                                }
                            } 
                        }
                    </tbody>
                </table>

            </div>


    </div>
</div>
<script src="~/Areas/Transactions/Scripts/PlanMigration/HFCSelectServicesByPlan.js"></script>

