@using System.Web.Optimization
@model Claro.SIACU.Web.WebApplication.Transac.Service.Areas.Transactions.Models.HFC.MigrationModel
@{
    //Layout = Url.Content("~/Areas/Transactions/Views/HfcPlanMigrationPartials/_HfcMigracionPlanLayout.cshtml");
    //ViewBag.Title = "HFC MIGRACION DE PLAN";
    Layout = null;
}
<link href="~/Areas/Transactions/ContentTransac/css/MigrationPlan.css" rel="stylesheet" />
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<script type="text/javascript">
    var CURRENTSERVERDATE = "@Model.ServerDate";
    var SERVERDATEDEFAULT = "@ViewData["SERVERDATEDEFAULT"]";
    var strEstadoContratoInactivo = "@Model.strEstadoContratoInactivo";
    var strEstadoContratoSuspendido = "@Model.strEstadoContratoSuspendido";
    var strEstadoContratoReservado = "@Model.strEstadoContratoReservado";
    var strMsjEstadoContratoInactivo = "@Model.strMsjEstadoContratoInactivo";
    var strMsjEstadoContratoSuspendido = "@Model.strMsjEstadoContratoSuspendido";
    var strMsjEstadoContratoReservado = "@Model.strMsjEstadoContratoReservado";
    var strMensajeTransaccionFTTH = "@Model.strMensajeTransaccionFTTH";//RONALDRR - INICIO
    var strPlanoFTTH = "@Model.strPlanoFTTH";//RONALDRR - FIN
</script>
<div id="HfcPlanMigration" class="container-fluid" data-server="@ViewBag.server" data-errormessageigv="@ViewBag.ErrorMessageIgv" data-strmessagevalidationeta="@ViewBag.strMessageValidationETA"
     data-strmessagesave="@ViewBag.strMessageSave">
    <div class="scrollbudy">
        <div class="col-md-3">
            <div id="DataCustomer" class="panel claro-panel-primary panel-group" role="tablist" aria-multiselectable="true">
                <div id="customerDataHead" role="tab" class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    <a data-toggle="collapse" href="#customerDataCollapse" aria-expanded="true" data-parent="#DataCustomer" aria-controls="customerDataCollapse" class="collapsed transaction-ref-color"> Datos del Cliente</a>
                </div>
                <div class="panel-body panel-collapse collapse" id="customerDataCollapse" role="tabpanel" aria-labelledby="customerDataHead">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td class="col-md-3">
                                    Contrato
                                </td>
                                <td class="col-md-3">
                                    <label id="lblPost_Contrato"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Customer ID
                                </td>
                                <td class="col-md-3">
                                    <label id="lblPost_CustomerId"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Tipo de Cliente
                                </td>
                                <td class="col-md-3">
                                    <label id="lblPost_TipoCliente"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Cliente
                                </td>
                                <td class="col-md-3">
                                    <label id="lblCliente"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Contacto
                                </td>
                                <td class="col-md-3">
                                    <label id="lblPost_Contacto"></label>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-md-3">
                                    DNI/RUC
                                </td>
                                <td class="col-md-3">
                                    <label id="lblNumDoc"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Representante Legal
                                </td>
                                <td class="col-md-3">
                                    <label id="lblRepLeg"></label>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-md-3">
                                    Plan Actual
                                </td>
                                <td class="col-md-3">
                                    <label id="lblPlaAct"></label>
                                </td>
                            </tr>

                            <tr id="trGrupoCampania">
                                <td class="col-md-3">
                                    Campaña:
                                </td>
                                <td class="col-md-3">
                                    <label id="lblCampania"></label>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-md-3">
                                    Fecha de Activación
                                </td>
                                <td class="col-md-3">
                                    <label id="lblFecAct"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Ciclo de Facturación
                                </td>
                                <td class="col-md-3">
                                    <label id="lblCicfac"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    Límite de Crédito <br />(S/ inc. IGV)
                                </td>
                                <td class="col-md-3">
                                    <label id="lblLimCre"></label>
                                </td>
                            </tr>
                            @*<tr>
                                    <td class="col-md-3">
                                        Tipo de Acuerdo
                                    </td>
                                    <td class="col-md-3">
                                        <label id="lblTipAcu"></label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-md-3">
                                        Estado del Servicio
                                    </td>
                                    <td class="col-md-3">
                                        <label id="lblEstSer"></label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-md-3">
                                        Fecha de Vencimiento
                                    </td>
                                    <td class="col-md-3">
                                        <label id="lblFecVen"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        HUB
                                    </td>
                                    <td class="col-md-3">
                                        <label id="lblHUB"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        Cintillo
                                    </td>
                                    <td class="col-md-3">
                                        <label id="lblCintillo"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        CMTS
                                    </td>
                                    <td class="col-md-3">
                                        <label id="lblCMTS"></label>
                                    </td>
                                </tr>*@

                        </tbody>
                    </table>                    
                </div>
                <div id="addressDataHead" role="tab" class="panel-heading">
                    <span class="glyphicon glyphicon-home"></span>
                    <a data-toggle="collapse" href="#addressDataCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="addressDataCollapse" class="collapsed transaction-ref-color"> Dirección de Facturación</a>
                </div>
                <div class="panel-body panel-collapse collapse in" id="addressDataCollapse" role="tabpanel" aria-labelledby="addressDataHead">
                    <table class="table table-condensed">
                        <tr>
                            <td>Dirección</td>
                            <td>
                                <label id="lblAddress"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Referencia</td>
                            <td>
                                <label id="lblReferencia"></label>
                            </td>
                        </tr>
                        @*<tr>
                                <td>Urbanización</td>
                                <td>
                                    <label id="lblUrbanization"></label>
                                </td>
                            </tr>*@
                        <tr>
                            <td>País</td>
                            <td>
                                <label id="lblCountry"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Departamento</td>
                            <td>
                                <label id="lblDepartment"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Provincia</td>
                            <td>
                                <label id="lblProvince"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Distrito</td>
                            <td>
                                <label id="lblDistrict"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Código de Plano</td>
                            <td>
                                <label id="lblPlaneCode"></label>
                            </td>
                        </tr>
                        @*<tr>
                                <td>Código de Ubigeo</td>
                                <td>
                                    <label id="lblUbigeoCode"></label>
                                </td>
                            </tr>*@
                    </table>
                </div>
                <div id="businessRulesHead" role="tab" class="panel-heading">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <a data-toggle="collapse" href="#businessRulesCollapse" aria-expanded="false" data-parent="#DataCustomer" aria-controls="businessRulesCollapse" class="collapsed transaction-ref-color"> Reglas de Atención</a>
                </div>
                <div class="panel-body panel-collapse collapse in" id="businessRulesCollapse" role="tabpanel" aria-labelledby="businessRulesHead">
                    <div id="divRules">
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="col-md-9 transaction-content">
            <div class="transaction-container-step">
                <div class="process">
                    <div class="process-row nav nav-tabs">
                        <div class="process-step process-step-2-left" id="divStepOne">
                            <button type="button" class="btn btn-circle transaction-button" data-toggle="tab" role="tab" href="#tabPlanYServiciosAdicionales" percent="0%" index="1"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                            <p>Nuevo Plan</p>
                        </div>
                        <div class="process-step process-step-2">
                            <button type="button" class="btn btn-circle disabled" data-toggle="tab" role="tab" href="#tabServiciosComplementarios" percent="25%" index="2" disabled><i class="fa fa-phone-square" aria-hidden="true"></i></button>
                            <p>Complementarios</p>
                        </div>
                        <div class="process-step process-step-2">
                            <button type="button" class="btn btn-circle " data-toggle="tab" role="tab" href="#tabPenalidades" percent="41.6%" index="3" disabled><i class="fa fa-legal" aria-hidden="true"></i></button>
                            <p>Penalidades</p>
                        </div>
                        <div class="process-step process-step-2">
                            <button type="button" class="btn btn-circle disabled" data-toggle="tab" role="tab" href="#tabAgendamiento" percent="58.2%" index="4" disabled><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            <p>Agendamiento</p>
                        </div>
                        <div class="process-step process-step-2">
                            <button type="button" class="btn btn-circle disabled" data-toggle="tab" role="tab" href="#tabDatosTecnicos" percent="74.8%" index="5" disabled><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <p>Datos Técnicos</p>
                        </div>
                        <div class="process-step process-step-2-right">
                            <button type="button" class="btn btn-circle disabled" data-toggle="tab" role="tab" href="#tabSummary"
                                    percent="99%" index="6" disabled>
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                            </button>
                            <p>Resumen</p>
                        </div>
                    </div>
                </div>
                <div class="transaction-progress">
                    <div class="progress transaction-bar">
                        <div id="prog" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:0%">

                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-content">
                <div id="tabPlanYServiciosAdicionales" class="step tab-pane active" role="tabpanel" percent="0%">
                    <div class="panel claro-panel-primary">
                        <div class="panel-heading">
                            Datos del Plan y Servicios Adicionales
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h3 class="card-title">Nuevo Plan</h3>
                                            <table class="table table-condensed">
                                                <tr>
                                                    <td><span id="lblPlanNuevo" class="transac-message-red">Seleccione un plan</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span id="lblSolucionNueva" class="transac-message-red"></span>&nbsp;</td>
                                                </tr>
                                                <tr id="trSelecCampaniaColab">
                                                    <td><span id="lblCampaniaColaborador" class="transac-message-red"></span>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table>
                                            <br />
                                            <button id="btnAgregarPlan" type="button" class="btn transaction-button btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Seleccionar Plan</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h3 class="card-title">Servicios Adicionales</h3>
                                            <table class="table table-condensed">
                                                <tr>
                                                    <td>Cable</td>
                                                    <td><span id="CableEquipmentQty" class="badge">0</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Internet</td>
                                                    <td><span id="InternetEquipmentQty" class="badge">0</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Telefonia</td>
                                                    <td><span id="PhoneEquipmentQty" class="badge">0</span></td>
                                                </tr>
                                            </table>
                                            <br />
                                            <button id="btn_selServ" type="button" class="btn transaction-button btn-sm" disabled><span class="glyphicon glyphicon-plus-sign"></span> Seleccionar Servicios</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h3 class="card-title">Decos Adicionales</h3>
                                            <table class="table table-condensed">
                                                <tr>
                                                    <td>Decos</td>
                                                    <td><span id="DecosQuantity" class="badge">0</span></td>
                                                </tr>
                                                <tr>
                                                    <td><br /></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td><br /></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                            <br />
                                            <button id="btn_selTeam" type="button" class="btn transaction-button btn-sm" disabled><span class="glyphicon glyphicon-plus-sign"></span> Seleccionar Equipos</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divServices" class="panel-group" role="tablist">
                        <div class="panel claro-panel-primary">
                            <div id="servicesDataHead" role="tab" class="panel-heading">
                                <span class="glyphicon glyphicon-cog"></span>
                                <a data-toggle="collapse" href="#servicesDataCollapsed" aria-expanded="true" data-parent="#divServices" aria-controls="servicesDataCollapsed" class="collapsed transaction-ref-color"> Servicios</a>
                            </div>
                            <div id="servicesDataCollapsed" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="servicesDataHead">
                                <div id="divSelectServices" class="panel-group" role="tablist">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel claro-panel-primary">
                                                <div class="transac-panel-heading">
                                                    Plan Actual - Cable
                                                </div>
                                                <ul id="lstCurrentPlanCable" class="list-group"></ul>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel claro-panel-primary">
                                                <div class="transac-panel-heading">
                                                    Plan Seleccionado - Cable
                                                </div>
                                                <ul id="lstSelectPlanCable" class="list-group">
                                                    <li class="transac-list-group-item">
                                                        Seleccionar un plan
                                                    </li>
                                                </ul>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel claro-panel-primary">
                                                <div class="transac-panel-heading">
                                                    Plan Actual - Internet
                                                </div>
                                                <ul id="lstCurrentPlanInternet" class="list-group"></ul>

                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel claro-panel-primary">
                                                <div class="transac-panel-heading">
                                                    Plan Seleccionado - Internet
                                                </div>
                                                <ul id="lstSelectPlanInternet" class="list-group">
                                                    <li class="transac-list-group-item">
                                                        Seleccionar un plan
                                                    </li>
                                                </ul>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel claro-panel-primary">
                                                <div class="transac-panel-heading">
                                                    Plan Actual - Telefonía
                                                </div>
                                                <ul id="lstCurrentPlanTelephony" class="list-group"></ul>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel claro-panel-primary">
                                                <div class="transac-panel-heading">
                                                    Plan Seleccionado - Telefonía
                                                </div>
                                                <ul id="lstSelectPlanTelephony" class="list-group">
                                                    <li class="transac-list-group-item">
                                                        Seleccionar un plan
                                                    </li>
                                                </ul>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divAdditionalEquipHead" role="tab" class="panel-heading">
                                <span class="glyphicon glyphicon-hdd"></span>
                                <a data-toggle="collapse" href="#divAdditionalEquipCollapse" aria-expanded="true" data-parent="#divSelectServices" aria-controls="divAdditionalEquipCollapse" class="collapsed transaction-ref-color"> Equipos</a>
                            </div>
                            <div id="divAdditionalEquipCollapse" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="divAdditionalEquipHead">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel claro-panel-primary">
                                            <div class="transac-panel-heading">
                                                Equipos Actuales - Cable
                                            </div>
                                            <ul id="lstCurrentEquipCable" class="list-group"></ul>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="col-md-6">

                                        <div class="panel claro-panel-primary">
                                            <div class="transac-panel-heading">
                                                Equipos Seleccionados - Cable
                                            </div>
                                            <ul id="lstSelectEquipCable" class="list-group">
                                                <li class="transac-list-group-item">
                                                    Seleccionar un plan
                                                </li>
                                            </ul>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel claro-panel-primary">
                                            <div class="transac-panel-heading">
                                                Equipos Actuales - Internet
                                            </div>
                                            <ul id="lstCurrentEquipInternet" class="list-group"></ul>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="col-md-6">

                                        <div class="panel claro-panel-primary">
                                            <div class="transac-panel-heading">
                                                Equipos Seleccionados - Internet
                                            </div>
                                            <ul id="lstSelectEquipInternet" class="list-group">
                                                <li class="transac-list-group-item">
                                                    Seleccionar un plan
                                                </li>
                                            </ul>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel claro-panel-primary">
                                            <div class="transac-panel-heading">
                                                Equipos Actuales - Telefonía
                                            </div>
                                            <ul id="lstCurrentEquipTelephony" class="list-group"></ul>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="col-md-6">


                                        <div class="panel claro-panel-primary">
                                            <div class="transac-panel-heading">
                                                Equipos Seleccionados - Telefonía
                                            </div>
                                            <ul id="lstSelectEquipTelephony" class="list-group">
                                                <li class="transac-list-group-item">
                                                    Seleccionar un plan
                                                </li>
                                            </ul>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default" id="DivDetallePlan" style="display:none">
                        <div class="panel-heading">
                            Plan:
                        </div>
                        <div class="panel-body">

                            <table class="table table-condensed ">
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>

                            <table class="table table-condensed ">

                                <tr>
                                    <td>
                                        <label data-toggle="collapse" data-target="#collapseCoreCable"><input id="chkServAdCable" type="checkbox" /></label> <label class="control-label">Cable</label>
                                        <button id="btnAgrSerAdCable" type="button" class="btn claro-btn-info btn-sm"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                                    </td>
                                </tr>
                                <tr id="trServCoreCable">
                                    <td>
                                        <div id="collapseCoreCable" class="panel-collapse collapse in">

                                            <div class="panel-body">

                                                <div id="div1">
                                                    <div class="table-responsive">

                                                        @{
                                                            Html.RenderPartial("../PlanMigration/HFCTableCableServices");
                                                        }
                                                    </div>

                                                    <div style="width:100%; text-align:right;">
                                                        <input id="btnAgServAdCable" class="Boton" type="button" value="Agregar Servicio" />
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label data-toggle="collapse" data-target="#collapseCoreInternet"><input id="chkServAdInternet" type="checkbox" /></label>
                                        <label class="control-label">Internet</label>
                                        <button id="btnAgrSerAdInternet" type="button" class="btn claro-btn-info btn-sm"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                                    </td>
                                </tr>
                                <tr id="trServCoreInternet">
                                    <td>
                                        <div id="collapseCoreInternet" class="panel-collapse collapse in ">
                                            <div class="panel-body">
                                                <div id="div2">
                                                    @{
                                                        Html.RenderPartial("../PlanMigration/HFCTableInternetServices");
                                                    }
                                                    <div style="width:100%; text-align:right;">
                                                        <input id="btnAgServAdInternet" class="Boton" type="button" value="Agregar Servicio" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label data-toggle="collapse" data-target="#collapseCoreTelefono"><input id="chkServAdTelefono" type="checkbox" /></label>
                                        <label class="control-label">Teléfono</label>

                                        <button id="btnAgrSerAdPhone" type="button" class="btn claro-btn-info btn-sm"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                                    </td>
                                </tr>

                                <tr id="trServCoreTelefono">
                                    <td style="width:85%;">

                                        <div id="collapseCoreTelefono" class="panel-collapse collapse in ">
                                            <div class="panel-body">
                                                <div id="div3">

                                                    @{
                                                        Html.RenderPartial("../PlanMigration/HFCTablePhoneServices");
                                                    }


                                                    <div style="width:100%; text-align:right;">
                                                        <input id="btnAgServAdTelefono" class="Boton" type="button" value="Agregar Servicio" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <div class="panel panel-default" id="DivResumenServicios" style="display:none">
                        <div class="panel-heading">
                            Resumen de Servicios y Equipos Seleccionados en el Plan:
                            <div id="SeleccionarEquiposEnAlquiler" style="display:none;"><b>Equipos en alquiler:</b> <input id="btnAgregarEquipos" class="Boton" type="button" value="..." /></div>
                        </div>
                        <div class="panel-body">
                            <div id="divResumen" class="table">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="tblResumen" class="table  table-striped table-hover table-responsive claro-modal-tabla table-bordered">
                                                <thead>
                                                    <tr class="claro-bg-primary">
                                                        <th>Sel</th>
                                                        <th>Nombre del Servicio</th>
                                                        <th>Tipo de Servicio</th>
                                                        <th>Grupo de Servicio</th>
                                                        <th>Cargo Fijo (S/ sin IGV)</th>
                                                        <th>Equipo</th>
                                                        <th>Cant.</th>
                                                        <th>SN CODE.</th>
                                                        <th>SP CODE.</th>
                                                        <th>Tipo Eq.</th>
                                                        <th>TM Code.</th>
                                                        <th>Cod. Serv.</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button id="btnEliminarServicio" type="button" class="btn claro-btn-info btn-sm"><span class="glyphicon glyphicon-trash">Eliminar</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel claro-panel-primary">
                                <div class="panel-heading">
                                    Cargos Actuales
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span id="lblMontoActualBase" class="badge">S/ 0.00</span>
                                        Cargo fijo del plan base (S/ exc. IGV)
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblMontoActualAdicional" class="badge">S/ 0.00</span>
                                        Cargo adicional del plan base (S/ exc. IGV)
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCantidadActual" class="badge">0</span>
                                        Cantidad de servicios agregados
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCantidadActualEquipos" class="badge">0</span>
                                        Cantidad de equipos agregados
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCargoFijoTotalPlanSIGVActual" class="badge">S/ 0.00</span>
                                        Cargo Fijo Total del Plan (S/ exc. IGV)
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCargoFijoTotalPlanCIGVActual" class="badge">S/ 0.00</span>
                                        Cargo fijo total del plan (S/ inc. IGV)
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel claro-panel-primary">
                                <div class="panel-heading">
                                    Nuevos Cargos
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span id="lblMontoBase" class="badge">S/ 0.00</span>
                                        Cargo fijo del nuevo plan base (S/ exc. IGV)
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblMontoAdicional" class="badge">S/ 0.00</span>
                                        Cargo adicional del nuevo plan base (S/ exc. IGV)
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCantidad" class="badge">0</span>
                                        Cantidad de servicios agregados
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCantidadEquipos" class="badge">0</span>
                                        Cantidad de equipos agregados
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCargoFijoTotalPlanSIGV" class="badge">S/ 0.00</span>
                                        Cargo fijo total del plan (S/ exc. IGV)
                                    </li>
                                    <li class="list-group-item">
                                        <span id="lblCargoFijoTotalPlanCIGV" class="badge">S/ 0.00</span>
                                        Cargo fijo total del plan (S/ inc. IGV)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <center>
                        <button id="btn1stClose" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                        <button id="btnNextFirstStep" type="button" class="btn transaction-button next-trans">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </center>
                    <br />
                </div>
                <div id="tabServiciosComplementarios" class="step tab-pane fade" role="tabpanel" percent="25%">
                    <div class="panel claro-panel-primary" id="divCompTopConsume" style="display:none">
                        <div class="panel-heading">
                            Topes de Consumo
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="txtTopConsume" class="col-sm-4 control-label">Tope de consumo</label>

                                    <div class="col-sm-2 input-group input-group-sm">
                                        <span class="input-group-addon">S/</span>
                                        <input type="text" id="txtTopConsume" class="form-control" disabled>
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel claro-panel-primary" id="DivDetalleServicioTelefonia">
                        <div class="panel-heading">
                            Detalle del Servicio de Telefonía:
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="chkPresuscrito" class="col-sm-4 control-label"> Presuscrito</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input id="chkPresuscrito" type="checkbox" tabindex="10">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtNroCarta" class="col-sm-4 control-label"> Número de Carta</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="txtNroCarta" class="form-control input-sm" tabindex="11" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sltOperator" class="col-sm-4 control-label"> Operador</label>
                                    <div class="col-sm-3">
                                        <select id="sltOperator" class="form-control input-sm" tabindex="12"></select>
                                        <span id="ErrorMessageDllOperador" class="alert-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="chkPublicar" class="col-sm-4 control-label"> Publicar número telefónico en paginas blancas</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input id="chkPublicar" type="checkbox" tabindex="13">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <center>
                        <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                        <button id="btn2ndClose" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                        <button type="button" class="btn transaction-button next-trans">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </center>
                    <br />
                </div>
                <div id="tabPenalidades" class="step tab-pane fade" role="tabpanel" percent="41.6%">
                    <div class="panel claro-panel-primary" id="DivPenalidad">
                        <div class="panel-heading">
                            Datos de Penalidades
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="chkOCC" class="col-sm-4 control-label"> Generar OCC</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input id="chkOCC" type="checkbox">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtReintegro" class="col-sm-4 control-label"> Reintegro Penalidad</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="txtReintegro" class="form-control input-sm" value="0.0" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="chkFideliza" class="col-sm-4 control-label"> Fideliza Penalidad</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input id="chkFideliza" type="checkbox">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtMontoFideliza" class="col-sm-4 control-label"> Monto Fidelización Penalidad</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="txtMontoFideliza" class="form-control input-sm" value="0.0" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtTotalPenalidad" class="col-sm-4 control-label"> Total Penalidad a Cobrar</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="txtTotalPenalidad" class="form-control input-sm" value="0.0" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <center>
                        <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                        <button id="btn3rdClose" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                        <button type="button" class="btn transaction-button next-trans">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </center>
                    <br />
                </div>
                <div id="tabAgendamiento" class="step tab-pane fade" role="tabpanel" percent="58.2%">
                    <div class="panel claro-panel-primary">
                        <div class="panel-heading">
                            Datos de Agendamiento
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="sltWorkType" class="col-sm-4 control-label"> Tipo de Trabajo</label>
                                    <div class="col-sm-3">
                                        <select id="sltWorkType" class="form-control input-sm" tabindex="30"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sltSubWorkType" class="col-sm-4 control-label"> Sub Tipo de Trabajo</label>
                                    <div class="col-sm-3">
                                        <select id="sltSubWorkType" class="form-control input-sm" tabindex="31"></select>
                                    </div>
                                </div>

                                @Html.Partial("~/Areas/Transactions/Views/Shared/ViewPartial/Schedule.cshtml",
                            new ViewDataDictionary {
                                { "Text_Id", "txtFProgramacion" },
                                { "Select_Id", "ddlFranjaHoraria" },
                                { "Button_Id", "btnValidarHorario" },
                                { "Combo_JobTypes" , "sltWorkType"},
                                { "Combo_SubJobType" , "sltSubWorkType"},
                                { "Input_Size" , "input-ms"},
                                { "strDateServer", @Model.ServerDate },
                                { "strDateNew", "" },
                                { "Button_Save", "btn_saveTransaction"}
                            })


                            </div>
                        </div>
                    </div>

                    <div id="divConsultaEquipos" style="overflow:scroll;display:none;">
                        <table id="tblConsultaEquipos" class="table table-condensed ">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Equipo Asociado</th>
                                    <th style="text-align:center">Cantidad</th>
                                    <th style="text-align:center">Desc. de Equipo</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <center>
                        <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                        <button id="btn4thClose" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                        <button type="button" class="btn transaction-button next-trans btn_saveTransaction">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </center>
                    <br />
                </div>
                <div id="tabDatosTecnicos" class="step tab-pane fade" role="tabpanel" percent="74.8%">
                    <div class="panel claro-panel-primary">
                        <div class="panel-heading">
                            Datos Adicionales y Técnicos
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="chkEmail" class="col-sm-4 control-label">Envío por e-mail</label>
                                    <div class="col-sm-1">
                                        <div class="checkbox">
                                            <label>
                                                <input id="chkEmail" type="checkbox" tabindex="40">
                                            </label>
                                        </div>
                                    </div>
                                    <div id="divEmail" class="col-sm-3">
                                        <input type="text" id="txtEmail" class="form-control input-sm" tabindex="41" /><span id="ErrorMessageEmail" class="alert-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cboCacDac" class="col-sm-4 control-label"> Punto de Atención</label>
                                    <div class="col-sm-3">
                                        <select id="cboCacDac" class="form-control input-sm" tabindex="42"></select><span id="ErrorMessageCacDac" class="alert-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtNotas" class="col-sm-4 control-label"> Notas</label>
                                    <div class="col-sm-7">
                                        <textarea id="txtNotas" class="form-control" tabindex="43" rows="8"  ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>
                        <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                        <button id="btn5thClose" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                        <button type="button" class="btn transaction-button next-trans btn_saveTransaction">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </center>
                    <br />
                </div>
                <div id="tabSummary" class="step tab-pane fade" role="tabpanel" percent="99%">
                    <div class="panel claro-panel-primary">
                        <div id="tabSummary" role="tab" class="panel-heading">
                            <label data-toggle="collapse" aria-expanded="true" data-parent="#DataCustomer" aria-controls="customerDataCollapse" class="collapsed transaction-ref-color"> Resumen</label>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel claro-panel-primary">
                                        <div class="transac-panel-heading">
                                            <span class="fa fa-cog" aria-hidden="true"></span>&nbsp; Plan Actual
                                        </div>

                                        <ul id="lstResumenPlanActual" class="list-group"></ul>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel claro-panel-primary">
                                        <div class="transac-panel-heading">
                                            <span class="fa fa-cogs" aria-hidden="true"></span>&nbsp; Plan Nuevo
                                        </div>

                                        <ul id="lstResumenPlanNuevo" class="list-group">
                                            <li class="transac-list-group-item"></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="panel claro-panel-primary">
                                <div role="tab" class="panel-heading">
                                    <span class="fa fa-briefcase" aria-hidden="true"></span>
                                    Datos de Cambio de Plan
                                </div>
                                <div id="DataCambioPlan" class="panel-body " role="tabpanel">
                                    <div class="panel claro-panel-primary">
                                        <div class="panel-heading"><span class="fa fa-phone-square"></span> Complementarios</div>
                                        <table class="table table-condensed">
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Tope de Consumo</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="topeconsumo"></label></div>
                                                    <div class="col-sm-2">Presuscrito</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="presuscrito"></label></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Número de Carta</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="numerocarta"></label></div>
                                                    <div class="col-sm-2">Operador</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="operador"></label></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-6">Publicar número telefónico en paginas blancas</div>
                                                    <div class="col-sm-6"><label data-bind-transfer="publicarnumero"></label></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel claro-panel-primary">
                                        <div class="panel-heading"><span class="fa fa-legal"></span> Penalidades</div>
                                        <table class="table table-condensed">
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Reintegro penalidad</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="Reintegropenalidad"></label></div>
                                                    <div class="col-sm-2">Fidelización</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="ckhFidelizacion"></label></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Monto de fidelización penalidad</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="Montofidelizacionpenalidad"></label></div>
                                                    <div class="col-sm-2">Total de penalidad a cobrar</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="Total-penalidad"></label></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel claro-panel-primary">
                                        <div class="panel-heading"><span class="fa fa-calendar"></span> Agendamiento</div>
                                        <table class="table table-condensed">
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Tipo de trabajo</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="tipodetrabajo"></label></div>
                                                    <div class="col-sm-2">Sub tipo de trabajo</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="Subtipotrabajo"></label></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Fecha de compromiso</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="fechaCompromiso"></label></div>
                                                    <div class="col-sm-2">Horario</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="Horario"></label></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel claro-panel-primary">
                                        <div class="panel-heading"><span class="fa fa-pencil-square-o"></span> Datos Técnicos</div>
                                        <table class="table table-condensed">
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Punto de atención</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="PuntoAtencion"></label></div>
                                                    <div class="col-sm-2">Generar OCC</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="chkOcc"></label></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Envio de Email</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="chkemail"></label></div>
                                                    <div class="col-sm-2">Email</div>
                                                    <div class="col-sm-4"><label data-bind-transfer="email"></label></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <div class="col-sm-2">Notas</div>
                                                    <div class="col-sm-10"><label data-bind-transfer="Notas"></label></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-3 input-sm " id="divlnknumsot" style="display: none;background-color: #c6ffd1;">
                                        Nro SOT:
                                        <label id="lnknumsot">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>
                        <button type="button" class="btn transaction-button prev-step"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior</button>
                        <button id="btnGuardar" type="button" class="btn transaction-button btn_saveTransaction"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                        <button id="btnConstancy" type="button" class="btn transaction-button" data-toggle="modal" data-target="_blank"><span class="glyphicon glyphicon-list-alt"></span> Constancia</button>
                        <button id="btn6thClose" type="button" class="btn transaction-button"><span class="glyphicon glyphicon-home"></span> Cerrar</button>
                        <button style="display:none" type="button" class="btn transaction-button next-step">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </center>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="ModalLoading" style="display: none;">
        <span>
            <img src="~/Images/loading2.gif" width="25" height="25" /> Cargando ....
        </span>
    </div>

    @*<input id="hidOpcion" type="hidden" name="hidOpcion" value="" />*@
    <input type="hidden" id="hidCodCampaniaMig" value='@System.Configuration.ConfigurationManager.AppSettings["strCodCampaniaColab"].ToString()' />
	<input type="hidden" id="hidMsgErrorConsultCam" value='@System.Configuration.ConfigurationManager.AppSettings["strMsgErrorConsultCam"].ToString()' />
    <input type="hidden" id="hidCambioPlanProy140245" value='@System.Configuration.ConfigurationManager.AppSettings["strCambioPlanProy140245"].ToString()' /> 
</div>

 
@Scripts.Render("~/bundles/Transaction/HfcPlanMigration/PlanMigration")


