@*<div id="UC_HFCPOST_Agendar">
        <div class="">
            <div class="panel-body">
                <div class="form-horizontal">

                </div>
            </div>
        </div>
    </div>*@
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div class="form-group">
    <label class="col-sm-2 control-label">Fecha Compromiso(*)</label>
    <div class="col-sm-3">
        @Html.Partial("~/Areas/Transactions/Views/Shared/ViewPartial/ShortDate.cshtml",
                                new ViewDataDictionary {
                                    { "vDivId", "Div_"+ @ViewData["Text_Id"] },
                                    { "vInputId", @ViewData["Text_Id"] },
                                    { "Input_Size" , @ViewData["Input_Size"]},
                                    { "strDateServer", @ViewData["strDateServer"] },
                                    { "strDateNew", @ViewData["strDateNew"] }

                                })
    </div>
    <label class="col-sm-2 control-label">Horario(*)</label>
    <div class="col-sm-3">
        <select id="@ViewData["Select_Id"]" name="@ViewData["Select_Id"]" class="form-control input-sm  @ViewData["Input_Size"]">
            <option value="-1">Seleccionar</option>
        </select>
    </div>
    <div class="col-sm-2 text-right">
        <button type="button" id="@ViewData["Button_Id"]" class="btn transaction-button btn-sm">
            <span class="glyphicon glyphicon-cog">&nbsp;</span>Validar
        </button>
    </div>
</div>

<div id="ModalLoadingSchedule" style="display: none;">
    <span>
        <img src="~/Images/loading2.gif" width="25" height="25" /> Cargando ....
    </span>
</div>

<script>

    var MESSAGE_SELECT_JOB_TYPES = "";
    var MESSAGE_SELECT_DATE = "";
    var MESSAGE_ERROR_UBIGEO = "";
    var MESSAGE_VALIDATE = "";
    var MESSAGE_NO_VALIDATE = "";
    var MESSAGE_NS_TIME_ZONE = "";
    var MESSAGE_SELECT_SUB_JOB_TYPES = "";
    var MESSAGE_SELECCT_FRANJA = "";






    var SessionTransacAux = JSON.parse(sessionStorage.getItem("SessionTransac"));
    Session.CodUbigeo = (SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo == null) ? "" : SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo;
    var CodUbigeoAux = (SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo == null) ? "" : SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo;
    function LoadingSchedule() {

        $.blockUI({
            message: $("#ModalLoadingSchedule"),
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000000',
                '-webkit-border-radius': '50px',
                '-moz-border-radius': '50px',
                opacity: .7,
                color: '#fff'
            }
        });

    }

    function MessagePartialView() {

        var model = {};
        model.strIdSession = Session.IDSESSION;

        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/HFC/AdditionalPoints/MessagePartialView";
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {

                MESSAGE_SELECT_JOB_TYPES = response[0];
                MESSAGE_SELECT_DATE = response[1];
                MESSAGE_ERROR_UBIGEO = response[2];
                MESSAGE_VALIDATE = response[3];
                MESSAGE_NO_VALIDATE = response[4];
                MESSAGE_NS_TIME_ZONE = response[5];
                MESSAGE_SELECT_SUB_JOB_TYPES = response[6];
                MESSAGE_SELECCT_FRANJA = response[7];
            },
            error: function (XError) {
                //console.log(XError);
            }
        });

    }


    function InitFranjasHorario() {
        var ValidaETA = Session.ValidateETA;
        var model = {};
        model.strIdSession = Session.IDSESSION;
        model.vUbigeo = CodUbigeoAux;
        model.vJobTypes = $("#@ViewData["Combo_JobTypes"]").val();

        if ($("#@ViewData["Text_Id"]") != null) {
            model.vCommitmentDate = $("#@ViewData["Text_Id"]").val();
        }

        model.vSubJobTypes = $("#@ViewData["Combo_SubJobType"]").val();
        model.vValidateETA = ValidaETA;
        model.vHistoryETA = Session.History;
        model.vTimeZone = $("#@ViewData["Select_Id"]").val();

        //console.log("INICIO CARGAR FRANJA HORARIA");
        //console.log("strIdSession: " + Session.IDSESSION);
        //console.log("vUbigeo : " + model.vUbigeo);
        //console.log("vJobTypes : " + model.vJobTypes);
        //console.log("vCommitmentDate : " +  model.vCommitmentDate);
        //console.log("vSubJobTypes : " + model.vSubJobTypes);
        //console.log("vValidateETA :" + model.vValidateETA);
        //console.log("vHistoryETA : " + model.vHistoryETA);
        //console.log("vTimeZone : " + model.vTimeZone);

        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/HFC/AdditionalPoints/GetTimeZone";
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {
                $.unblockUI();
                $("#@ViewData["Select_Id"]").html("");
                $("#@ViewData["Select_Id"]").append($('<option>', { value: '-1', html: 'Seleccionar' }));

                var intIndex = 0;
                if (response.data != null) {
                    if (response.data.length == 1 && response.data[0].Codigo == "-1") {
                        alert(response.data[0].Descripcion);
                        return;
                    }
                    $.each(response.data, function (index, value) {
                        intIndex++;
                        if (ValidaETA == "1") {
                            if (value.Estado == "RED") {

                                $("#@ViewData["Select_Id"]").append('<option style="background-color: #E60000;" value="' + value.Codigo + '" Disabled>' + value.Descripcion + '</option>');
                            }
                            else {
                                $("#@ViewData["Select_Id"]").append('<option style="background-color: #FFFFFF;" value="' + value.Codigo + '+' + value.Codigo3 + '">' + value.Descripcion + '</option>');



                            }
                            if (value.Codigo2 != null) {
                                try {

                                    Session.RequestActId = value.Codigo2;
                                    // $("#hdnRequestActId").val(value.Codigo2);
                                    //SessionTransf.COD_RESQUEST_ACT = value.Codigo2;
                                    //HFCPOST_Session.CodigoRequestAct = value.Codigo2;
                                } catch (e) {

                                }

                            }
                            else {
                                try {
                                    Session.RequestActId = "";
                                    //$("#hdnRequestActId").val("");
                                    //SessionTransf.COD_RESQUEST_ACT = "";
                                    //HFCPOST_Session.CodigoRequestAct = "";
                                } catch (e) {

                                }

                            }
                        }
                        else {

                            $("#@ViewData["Select_Id"]").append($('<option>', { value: value.Codigo, html: value.Descripcion }));
                        }
                    });
                }
            },
            error: function (XError) {
                $.unblockUI();
                //console.log(XError);
            }
        });
    }

    function f_ValidateRescheduling() {
        LoadingSchedule();
        var model = {};
        model.strIdSession = Session.IDSESSION;
        model.vJobTypes = $("#@ViewData["Combo_JobTypes"]").val();
        model.vUbigeo = CodUbigeoAux;
        model.vCommitmentDate = $("#@ViewData["Text_Id"]").val();
        model.vTimeZona = $("#@ViewData["Select_Id"]").val();

        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/HFC/AdditionalPoints/ValidateSchedule";
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {

                if (response.data.Description == "1") {
                    alert(MESSAGE_VALIDATE);
                } else {
                    alert(MESSAGE_NO_VALIDATE);
                }
                Session.VALIDATE = response.Description;

            },
            error: function (XError) {
                //console.log(XError);
            }
        });

    }

    function f_FechaEsMayorQueHoy(fechaString) {

        var ano = fechaString.substr(6, 4);
        var mes = fechaString.substr(3, 2);
        var dia = fechaString.substr(0, 2);

        var fechaHoy = new Date("@ViewData["strDateServer"]");
        var str = ano + "/" + mes + "/" + dia;
        var fechaSeleccionada = new Date(str);

        if (fechaSeleccionada > fechaHoy) {
            return true;
        } else {
            return false;
        }

    }


    $(document).ready(function () {
        Session.ServerDate = "@ViewData["strDateServer"]";
        Session.DateNew = "@ViewData["strDateNew"]";

        MessagePartialView();
        $("#@ViewData["Button_Id"]").click(function () {

            if ($("#@ViewData["Combo_JobTypes"]").val() == "" || $("#@ViewData["Combo_JobTypes"]").val() == "-1") {
                alert(MESSAGE_SELECT_JOB_TYPES);
                return false;
            }
            if ($("#@ViewData["Text_Id"]").val() == "") {
                alert(MESSAGE_SELECT_DATE);
                return false;
            }
            if (CodUbigeoAux == "") {
                alert(MESSAGE_ERROR_UBIGEO);
                return false;
            }

            if ($("#@ViewData["Select_Id"]").val() == "" || $("#@ViewData["Select_Id"]").val() == "-1") {
                alert(MESSAGE_NS_TIME_ZONE);
                return false;
            }

            f_ValidateRescheduling();
        });


        $("#@ViewData["Select_Id"]").change(function () {

            var vCod = $(this).val();
            if (vCod.indexOf("|") != -1) {
                alert(MESSAGE_SELECCT_FRANJA);
                $(this).val("-1");
                return false;
            }

            if ($("#@ViewData["Combo_JobTypes"]").val().indexOf(".|") == -1) {
                Session.VALIDATE = "1";

            }
            else {
                Session.VALIDATE = "0";

            }


        });


        $("#@ViewData["Text_Id"]").change(function () {

            //console.log("Change Date");
            var ValidaETA = Session.ValidateETA;
            var vJobType = $("#@ViewData["Combo_JobTypes"]");
            var dDateProgramming = $(this);
            var cboSchedule = $("#@ViewData["Select_Id"]");
            var vSubJobType = $("#@ViewData["Combo_SubJobType"]");



            if (dDateProgramming.val() == "") {
                return false;
            }

            if (!f_FechaEsMayorQueHoy(dDateProgramming.val())) {
                alert("La fecha debe ser mayor al día de hoy");
                dDateProgramming.val("");
                $("#@ViewData["Select_Id"]").html("");
                $("#@ViewData["Select_Id"]").append($('<option>', { value: '-1', html: 'Seleccionar' }));
                return false;
            }

            Session.VALIDATE = "0";

            if (vJobType.val() == "-1") {
                alert(MESSAGE_SELECT_JOB_TYPES);
                return false;
            }
            if (CodUbigeoAux == "") {
                alert(MESSAGE_ERROR_UBIGEO);
                return false;
            }


            if (ValidaETA == '1') {
                if (vSubJobType.val() == "" || vSubJobType.val() == "-1" || vSubJobType.val() == "-- Seleccionar --") {
                    alert(MESSAGE_SELECT_SUB_JOB_TYPES);
                    dDateProgramming.val("");

                    return false;
                }
            }

            LoadingSchedule();
            //console.log("==============================");
            //console.log("ValidaETA: " + ValidaETA);
            //console.log("vJobType: " + vJobType.val());
            //console.log("dDateProgramming : " + dDateProgramming.val());
            //console.log("cboSchedule : " + cboSchedule.val());
            //console.log("vSubJobType : " + vSubJobType.val());

            if (ValidaETA == '1') {
                if ((vJobType.val() != "-1" || vJobType.val() != "") && dDateProgramming.val() != "" && (vSubJobType.val() != "-1" || vSubJobType.val() != "")) {
                    //console.log("InitFranjasHorario");
                    InitFranjasHorario();
                }
                else {
                    //console.log("Cerrar Loading");
                    $.unblockUI();
                }
            }
            else {
                //console.log("InitFranjasHorario");
                InitFranjasHorario();
            }
        });


    });


</script>