@*<div id="UC_HFCPOST_Agendar">
        <div class="">
            <div class="panel-body">
                <div class="form-horizontal">

                </div>
            </div>
        </div>
    </div>*@
<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div class="form-group">
    <label class="col-sm-2 control-label">Fecha Compromiso(*)</label>
    <div class="col-sm-3">
        @Html.Partial("~/Areas/Transactions/Views/Shared/ViewPartial/ShortDate.cshtml",
                                new ViewDataDictionary {
                                    { "vDivId", "Div_"+ @ViewData["Text_Id"] },
                                    { "vInputId", @ViewData["Text_Id"] },
                                    { "Input_Size" , @ViewData["Input_Size"]},
                                    { "strDateServer", @ViewData["strDateServer"] },
                                    { "strDateNew", @ViewData["strDateNew"] }

                                })
    </div>
    <label class="col-sm-2 control-label">Horario(*)</label>
    <div class="col-sm-3">
        <select id="@ViewData["Select_Id"]" name="@ViewData["Select_Id"]" class="form-control input-sm  @ViewData["Input_Size"]">
            <option value="-1">Seleccionar</option>
        </select>
    </div>
    @*<div class="col-sm-2 text-right">
        <button type="button" id="@ViewData["Button_Id"]" class="btn transaction-button btn-sm">
            <span class="glyphicon glyphicon-cog">&nbsp;</span>Validar
        </button>
    </div>*@
</div>

<div id="ModalLoadingSchedule" style="display: none;">
    <span>
        <img src="~/Images/loading2.gif" width="25" height="25" /> Cargando ....
    </span>
</div>

<script>

    var MESSAGE_SELECT_JOB_TYPES = "";
    var MESSAGE_SELECT_DATE = "";
    var MESSAGE_ERROR_UBIGEO = "";
    var MESSAGE_VALIDATE = "";
    var MESSAGE_NO_VALIDATE = "";
    var MESSAGE_NS_TIME_ZONE = "";
    var MESSAGE_SELECT_SUB_JOB_TYPES = "";
    var MESSAGE_SELECCT_FRANJA = "";
    var STR_QUINTA_FRANJA = "";
    var STR_TIMER_FRANJA = 0;
    var x;
    var ValidateEtaAccion = ''; //Session.ValidateETA  ahora de sesion a variable local
    var History = ''; //Session.History
    var Validate = '';//Session.VALIDATE
    Session.flagReservation = "0";



    var SessionTransacAux = JSON.parse(sessionStorage.getItem("SessionTransac"));
    Session.CodUbigeo = (SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo == null) ? "" : SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo;
    var CodUbigeoAux = (SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo == null) ? "" : SessionTransacAux.SessionParams.DATACUSTOMER.InstallUbigeo;

    vValidationRuleList = [];
    vValidationAbbreviation = '';

    vMessageValidationList = [];
    function LoadingSchedule() {

        $.blockUI({
            message: $("#ModalLoadingSchedule"),
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000000',
                '-webkit-border-radius': '50px',
                '-moz-border-radius': '50px',
                opacity: .7,
                color: '#fff'
            }
        });

    }

    function MessagePartialView() {

        var model = {};
        model.strIdSession = Session.IDSESSION;

        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/HFC/AdditionalPoints/MessagePartialView";
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {

                MESSAGE_SELECT_JOB_TYPES = response[0];
                MESSAGE_SELECT_DATE = response[1];
                MESSAGE_ERROR_UBIGEO = response[2];
                MESSAGE_VALIDATE = response[3];
                MESSAGE_NO_VALIDATE = response[4];
                MESSAGE_NS_TIME_ZONE = response[5];
                MESSAGE_SELECT_SUB_JOB_TYPES = response[6];
                MESSAGE_SELECCT_FRANJA = response[7];
                STR_QUINTA_FRANJA = response[8];
                STR_TIMER_FRANJA = response[9];
            },
            error: function (XError) {
                //console.log(XError);
            }
        });

    }


    function InitFranjasHorario2() {

        var ValidaETA = ValidateEtaAccion;

        var model = {};
        model.strIdSession = Session.IDSESSION;
        model.vUbigeo = CodUbigeoAux;
        var strCodigoTipoTrabajo = $("#@ViewData["Combo_JobTypes"]").val();
        model.vJobTypes = strCodigoTipoTrabajo;



        if ($("#@ViewData["Text_Id"]") != null) {
            model.vCommitmentDate = $("#@ViewData["Text_Id"]").val();
        }

        $.each(vValidationRuleList, function (index, value) {
            if (strCodigoTipoTrabajo == value.CODIGONPAGE) {
                //Session.vValidationAbbreviation = value.ABREVIATURA_DET;
                vValidationAbbreviation = value.ABREVIATURA_DET;
            }
        });

        if (vValidationAbbreviation == "DIA_SIGUIENTE") {
            if (!f_FechaEsMayorQueHoy($("#@ViewData["Text_Id"]").val())) {
                alert("La fecha debe ser mayor al día de hoy");
                $("#@ViewData["Select_Id"]").html("");
                $("#@ViewData["Select_Id"]").append($('<option>', { value: '-1', html: 'Seleccionar' }));
                $.unblockUI();
                return false;
            }
        }




        model.vSubJobTypes = $("#@ViewData["Combo_SubJobType"]").val();
        model.vValidateETA = ValidaETA;
        model.vHistoryETA = Session.History;
        model.vTimeZone = $("#@ViewData["Select_Id"]").val();
        model.vValidationAbbreviation = vValidationAbbreviation;
        model.vIdTipoServicio = $("#@ViewData["Combo_SubJobType"] option:selected").attr("typeservice");
        model.vContractID = Session.contractID;


        console.log("strCodigoTipoTrabajo" + strCodigoTipoTrabajo);

        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/SchedulingToa/GetTimeZone";
        $(".@ViewData["Button_Siguiente"]").prop('disabled', false);
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {
                $.unblockUI();
                $("#@ViewData["Select_Id"]").html("");
                $("#@ViewData["Select_Id"]").append($('<option>', { value: '-1', html: 'Seleccionar' }));

                var intIndex = 0;
                if (response.data != null) {
                    if (response.data.length == 1 && parseInt(response.data[0].Codigo) < 0) {
                        
                        if (response.data[0].Codigo == "-2") {
                            $.each(vMessageValidationList, function (index, value) {
                                if (value.ABREVIATURA_DET == "MSJ_DISP_ETA") {
                                    alert(value.CODIGOC, "Alerta");
                                    if (ValidateEtaAccion == "2") {
                                        $(".@ViewData["Button_Siguiente"]").prop('disabled', true);
                                    }
                                }
                            });
                        }
                        else if (response.data[0].Codigo == "-3") {
                            $.each(vMessageValidationList, function (index, value) {
                                if (value.ABREVIATURA_DET == "MSJ_CONF_BKT") {
                                    alert(value.CODIGOC, "Alerta");
                                    if (ValidateEtaAccion == "2") {
                                        $(".@ViewData["Button_Siguiente"]").prop('disabled', true);
                                    }
                                }
                            });
                        } else {
                            alert(response.data[0].Descripcion, "Alerta");
                        }
                        return;
                    }
                    $.each(response.data, function (index, value) {
                        intIndex++;
                        if (ValidaETA != "0") {
                            if (value.Estado == "RED") {

                                $("#@ViewData["Select_Id"]").append('<option idHorario="' + value.Descripcion + '" style="background-color: #E60000; color:#ffffff" value="' + value.Codigo + '" Disabled>' + value.Descripcion + '</option>');
                            }
                            else {
                                $("#@ViewData["Select_Id"]").append('<option idHorario="' + value.Valor_C + '" style="background-color: #FFFFFF;" value="' + value.Codigo + '+' + value.Codigo3 + '">' + value.Descripcion + '</option>');
                            }
                            if (value.Codigo2 != null) {
                                try {

                                    Session.RequestActId = value.Codigo2;

                                } catch (e) {

                                }

                            }
                            else {
                                try {
                                    Session.RequestActId = "";

                                } catch (e) {

                                }

                            }
                        }
                        else {

                            $("#@ViewData["Select_Id"]").append($('<option>', { value: value.Codigo, html: value.Descripcion }));
                        }
                    });
                }
            },
            error: function (XError) {
                $.unblockUI();
                //console.log(XError);
            }
        });
    }

    function f_FechaEsMayorQueHoy(fechaString) {

        var ano = fechaString.substr(6, 4);
        var mes = fechaString.substr(3, 2);
        var dia = fechaString.substr(0, 2);

        var fechaHoy = new Date("@ViewData["strDateServer"]");
        var str = ano + "/" + mes + "/" + dia;
        var fechaSeleccionada = new Date(str);

        if (fechaSeleccionada > fechaHoy) {
            return true;
        } else {
            return false;
        }

    }


    $(document).ready(function () {

        $("#@ViewData["Text_Id"]").datepicker({
            format: 'dd/mm/yyyy'
        });
        $("#@ViewData["Button_Id"]").prop("disabled", true);

        Session.ServerDate = "";
        Session.DateNew = "@ViewData["strDateNew"]";

        
        var dateServer;

        if (Session.ServerDate !== "") {
            dateServer = Session.ServerDate;

            var dFechaServidor = "";
            if (dateServer != null || dateServer != "") {

                dFechaServidor = new Date(dateServer);
                $("#@ViewData["Text_Id"]").datepicker('setDate', dFechaServidor);
            }
        }

        if (Session.DateNew !== "") {
            dateServer = Session.DateNew;

            var dFechaServidor = "";
            if (dateServer != null || dateServer != "") {
                dFechaServidor = new Date(dateServer);
                $("#@ViewData["Text_Id"]").datepicker('setDate', dFechaServidor);
            }
        }

        GetSchedulingRule();
        MessageScheduling();
        Session.ServerDate = "@ViewData["strDateServer"]";
        Session.DateNew = "@ViewData["strDateNew"]";
        MessagePartialView();
        
        @*$("#@ViewData["Button_Id"]").click(function () {

            if ($("#@ViewData["Combo_JobTypes"]").val() == "" || $("#@ViewData["Combo_JobTypes"]").val() == "-1") {
                alert(MESSAGE_SELECT_JOB_TYPES);
                return false;
            }
            if ($("#@ViewData["Text_Id"]").val() == "") {
                alert(MESSAGE_SELECT_DATE);
                return false;
            }
            if (CodUbigeoAux == "") {
                alert(MESSAGE_ERROR_UBIGEO);
                return false;
            }

            if ($("#@ViewData["Select_Id"]").val() == "" || $("#@ViewData["Select_Id"]").val() == "-1") {
                alert(MESSAGE_NS_TIME_ZONE);
                return false;
            }

           f_ValidateRescheduling();
        });*@


    $("#@ViewData["Select_Id"]").change(function () {
        var vCod = $(this).val();
        var id_codeFranja = vCod.split('+')[0];
        if (vCod == "-1") {
            alert("Seleccione una franja horaria");
            $(this).val("-1");
            return false;
        }
        if (vCod.indexOf("|") != -1) {
            alert(MESSAGE_SELECCT_FRANJA);
            $(this).val("-1");
            return false;
        }
        //No se va validar segun el AF.
        //if (id_codeFranja == STR_QUINTA_FRANJA) {
        //    f_VentanaAutorizacion();
        //}
        if ($("#@ViewData["Combo_JobTypes"]").val().indexOf(".|") == -1 && Session.ValidateETA != 0) {

            var id_bucket = vCod.split('+')[1];
            if (id_bucket == "" || id_bucket == "null" || id_bucket == null) {
                $.each(vMessageValidationList, function (index, value) {
                    if (value.ABREVIATURA_DET == "MSJ_TIM_OUT") {
                        alert(value.CODIGOC, "Alerta");
                        $('#@ViewData["Select_Id"] option[value="-1"]').prop('selected', true);
                    }
                });
                Validate = "0";
            }
            else {
                Validate = "1";
                if (Session.flagReservation == "1") {
                    var valueFranja = $(this).val();
                    InitReservaTOA(valueFranja);//Falta Validar.
                }
            }
        }
        else {
            Validate = "0";
        }
    });

    $("#@ViewData["Text_Id"]").change(function () {

        var ValidaETA = ValidateEtaAccion;
        var vJobType = $("#@ViewData["Combo_JobTypes"]");
        var dDateProgramming = $(this);
        var cboSchedule = $("#@ViewData["Select_Id"]");
        var vSubJobType = $("#@ViewData["Combo_SubJobType"]");


        if (dDateProgramming.val() == "") {
            return false;
        }
        if (!f_FechaEsMayorIgualQueHoy(dDateProgramming.val())) {
            alert("La fecha debe ser mayor o igual al día de hoy");
            dDateProgramming.val("");
            $("#@ViewData["Select_Id"]").html("");
            $("#@ViewData["Select_Id"]").append($('<option>', { value: '-1', html: 'Seleccionar' }));
            return false;
        }

        Validate = "0";

        if (vJobType.val() == "-1") {
            alert(MESSAGE_SELECT_JOB_TYPES);
            return false;
        }
        if (CodUbigeoAux == "") {
            alert(MESSAGE_ERROR_UBIGEO);
            return false;
        }


        if (ValidaETA == '1') {
            if (vSubJobType.val() == "" || vSubJobType.val() == "-1" || vSubJobType.val() == "-- Seleccionar --") {
                alert(MESSAGE_SELECT_SUB_JOB_TYPES);
                dDateProgramming.val("");

                return false;
            }
        }
        LoadingSchedule();


        if (ValidaETA != '0') {
            if ((vJobType.val() != "-1" || vJobType.val() != "") && dDateProgramming.val() != "" && (vSubJobType.val() != "-1" || vSubJobType.val() != "")) {
                //console.log("InitFranjasHorario");
                InitFranjasHorario2();
            }
            else {
                //console.log("Cerrar Loading");
                $.unblockUI();
            }
        }
        else {
            //console.log("InitFranjasHorario");
            InitFranjasHorario2();

        }



    });


    });


    function f_FechaEsMayorIgualQueHoy(fechaString) {

        var ano = fechaString.substr(6, 4);
        var mes = fechaString.substr(3, 2);
        var dia = fechaString.substr(0, 2);

        var fechaHoy = new Date("@ViewData["strDateServer"]");
        var str = ano + "/" + mes + "/" + dia;
        var fechaSeleccionada = new Date(str);

        if (fechaSeleccionada >= fechaHoy) {
            return true;
        } else {
            return false;
        }

    }


    function GetSchedulingRule() {
        LoadingSchedule();
        var model = {};
        model.strIdSession = Session.IDSESSION;
        model.vJobTypes = $("#@ViewData["Combo_JobTypes"]").val();
        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/SchedulingToa/GetSchedulingRule";
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {
                //Session.vValidationRuleList = response.data;
                vValidationRuleList = response.data;

            },
            error: function (XError) {
                //console.log(XError);
            }
        });
    };

    @*function f_ValidateRescheduling() {
        LoadingSchedule();
        var model = {};
        model.strIdSession = Session.IDSESSION;
        model.vJobTypes = $("#@ViewData["Combo_JobTypes"]").val();
        model.vUbigeo = CodUbigeoAux;
        model.vCommitmentDate = $("#@ViewData["Text_Id"]").val();
        model.vTimeZona = $("#@ViewData["Select_Id"]").val();

        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/SchedulingToa/ValidateSchedule";
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {

                if (response.data.Description == "1") {
                    alert(MESSAGE_VALIDATE);
                } else {
                    alert(MESSAGE_NO_VALIDATE);
                }
                Session.VALIDATE = response.Description;

            },
            error: function (XError) {
                //console.log(XError);
            }
        });
    }*@

    function MessageScheduling() {
        LoadingSchedule();
        var model = {};
        model.strIdSession = Session.IDSESSION;
        model.vJobTypes = $("#@ViewData["Combo_JobTypes"]").val();
        var myUrl = window.location.protocol + '//' + window.location.host + "/Transactions/SchedulingToa/MessageScheduling";
        $.ajax({
            url: myUrl,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json charset=utf-8;",
            dataType: "json",
            success: function (response) {
                vMessageValidationList = response.data;
            },
            error: function (XError) {
                //console.log(XError);
            }
        });

    }


</script>