<script type="text/javascript" src="~/Areas/Transactions/Content/Lib/BloqueoF12.js"></script>
<div class="input-daterange input-group input-group-sm" id="@ViewData["vDivId"]">
    <input type="text"  class="form-control @ViewData["Input_Size"] @ViewData["vInputId"]" id="@ViewData["vInputId"]" name="@ViewData["vInputId"]" autocomplete="off" placeholder="DD/MM/YYYY"/>
    <label class="input-group-addon btn transaction-button" for="@ViewData["vInputId"]" style="padding: 3px 12px;">
        <span class="glyphicon glyphicon-calendar"></span>
    </label>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#@ViewData["vInputId"]").datepicker({
            format: 'dd/mm/yyyy'
        });
      

        Session.ServerDate = "@ViewData["strDateServer"]";
        Session.DateNew = "@ViewData["strDateNew"]";



        var dateServer;
       
        if (Session.ServerDate !== "") {
            dateServer = Session.ServerDate;

            var dFechaServidor = "";
            if (dateServer != null || dateServer != "") {

                dFechaServidor = new Date(dateServer);
                $("#@ViewData["vInputId"]").datepicker('setDate', dFechaServidor);
            }
        }

        if (Session.DateNew !== "") {
            dateServer = Session.DateNew;

            var dFechaServidor = "";
            if (dateServer != null || dateServer != "") {
                dFechaServidor = new Date(dateServer);
                $("#@ViewData["vInputId"]").datepicker('setDate', dFechaServidor);
            }
        }


    });
</script>